@model V4mvc.Presentation.Controllers.InformesEmpresasController.ViewModel_InformeEmpresas
@{
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}
<div class="row contacts" data-bind="with:datosInformeContratos">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th colspan="2"><strong>Filtros de Informe</strong></th>
                        </tr>
                    </thead>
                    <tr>
                        <td class="tituloTabla"><strong>ID Empresa</strong></td>
                        <td>
                            <u><a data-bind="text:EMPRESA_FORMATO,click:function(data,event){VerFichaEmpresa(EMPRESA)}"></a></u>
                        </td>
                    </tr>
                    <tr>
                        <td class="tituloTabla"><strong>Empresa</strong></td>
                        <td data-bind="text:ACRONIMO"></td>
                    </tr>
                    <tr>
                        <td class="tituloTabla"><strong>Division</strong></td>
                        <td data-bind="text:DIVISION"></td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
    <div class="col-md-6 invoice-details">
        <h1 class="invoice-id">Contratos de Empresa en División</h1>
        <a class="date" style="color:#212529" data-bind="text:'Fecha Actual: '+FECHA"></a>
    </div>
</div>
<div class="row" id="powerwidgets">
    <div class="col-md-12 bootstrap-grid" style="overflow-x:auto;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">Contrato</th>
                    <th class="text-center">Nivel</th>
                    <th class="text-center">Mandante</th>
                    <th class="text-center">Administrador</th>
                    <th class="text-center">Fecha Inicio</th>
                    <th class="text-center">Fecha Termino</th>
                    <th class="text-center">Dotacion Asignada</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: $root.contratos">
                <tr>
                    <td class="text-center" data-bind="text:OST"></td>
                    <td class="text-center" data-bind="text:NIVEL"></td>
                    <td class="text-center" data-bind="text:ACRONIM">
                    </td>
                    <td class="text-center" data-bind="text:NOMB_ADM">
                    </td>
                    <td class="text-center" data-bind="text:FINICIO_FORMATO"></td>
                    <td class="text-center">
                        <div data-bind="if:FECHA_HOY==1">
                            <a class="label label-danger" data-bind="text:FTERMINO_FORMATO"></a>
                        </div>
                        <div data-bind="if:FECHA_HOY==0">
                            <a class="label label-primary" " data-bind="text:FTERMINO_FORMATO"></a>
                        </div>
                    </td>
                    <td class="text-center" data-bind="text:CUENTA"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="notices">
    <div>@Contratista.InformesAccesoFaena.InformeDiarioControlAccesoDiaTotal.Msg_Nota</div>
    <div class="notice">@Contratista.InformesAccesoFaena.InformeDiarioControlAccesoDiaTotal.Msg_DatosReporteFechaActualParteSuperiorInforme</div>
</div>
@section Scripts {
    <script>
        function IndexViewModel(model) {
            var self = this;
            self.contratos = model.contratos;
            self.datosInformeContratos = model.datosInformeContratos;
        }
        $(document).ready(function () {
            var vm = new IndexViewModel(@Html.HtmlConvertToJson(Model));
            ko.applyBindings(vm);
            });
    </script>
}