<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
    <container>

      <register type="V4mvc.BusinessLogic.IBLAdmin, V4mvc.BusinessLogic" mapTo="V4mvc.BusinessLogic.BLAdmin, V4mvc.BusinessLogic" />


      <register type="V4mvc.BusinessLogic.IBLRol, V4mvc.BusinessLogic" mapTo="V4mvc.BusinessLogic.BLRol, V4mvc.BusinessLogic" />
      <register type="V4mvc.BusinessLogic.IBLOSTArbol, V4mvc.BusinessLogic" mapTo="V4mvc.BusinessLogic.BLOSTArbol, V4mvc.BusinessLogic" />
      <register type="V4mvc.BusinessLogic.IBLDivisiones, V4mvc.BusinessLogic" mapTo="V4mvc.BusinessLogic.BLDivisiones, V4mvc.BusinessLogic" />
      <register type="V4mvc.BusinessLogic.IBLWorkers, V4mvc.BusinessLogic" mapTo="V4mvc.BusinessLogic.BLWorkers, V4mvc.BusinessLogic" />
      <register type="V4mvc.BusinessLogic.IBLOST, V4mvc.BusinessLogic" mapTo="V4mvc.BusinessLogic.BLOST, V4mvc.BusinessLogic" />
      <register type="V4mvc.BusinessLogic.IBLLocal, V4mvc.BusinessLogic" mapTo="V4mvc.BusinessLogic.BLLocal, V4mvc.BusinessLogic" />
      <register type="V4mvc.BusinessLogic.IBLEnterprise, V4mvc.BusinessLogic" mapTo="V4mvc.BusinessLogic.BLEnterprise, V4mvc.BusinessLogic" />
      <register type="V4mvc.BusinessLogic.IBLColab_Usuario, V4mvc.BusinessLogic" mapTo="V4mvc.BusinessLogic.BLColab_Usuario, V4mvc.BusinessLogic" />
      <register type="V4mvc.BusinessLogic.IBLTurnos, V4mvc.BusinessLogic" mapTo="V4mvc.BusinessLogic.BLTurnos, V4mvc.BusinessLogic" />
      <register type="V4mvc.BusinessLogic.IBLTab_TipoPase_Division, V4mvc.BusinessLogic" mapTo="V4mvc.BusinessLogic.BLTab_TipoPase_Division, V4mvc.BusinessLogic" />
      <register type="V4mvc.BusinessLogic.IBLTab_TipoPase, V4mvc.BusinessLogic" mapTo="V4mvc.BusinessLogic.BLTab_TipoPase, V4mvc.BusinessLogic" />
      <register type="V4mvc.BusinessLogic.IBLRoles, V4mvc.BusinessLogic" mapTo="V4mvc.BusinessLogic.BLRoles, V4mvc.BusinessLogic" />

      <register type="V4mvc.BusinessLogic.IBLDocs_Workers_Mutual, V4mvc.BusinessLogic" mapTo="V4mvc.BusinessLogic.BLDocs_Workers_Mutual, V4mvc.BusinessLogic" />
      <register type="V4mvc.BusinessLogic.IBLDocs_Workers_Data, V4mvc.BusinessLogic" mapTo="V4mvc.BusinessLogic.BLDocs_Workers_Data, V4mvc.BusinessLogic" />
      <register type="V4mvc.BusinessLogic.IBLWorkers_MotivoFiniquito, V4mvc.BusinessLogic" mapTo="V4mvc.BusinessLogic.BLWorkers_MotivoFiniquito, V4mvc.BusinessLogic" />
      <register type="V4mvc.BusinessLogic.IBLWorkers_Licencias, V4mvc.BusinessLogic" mapTo="V4mvc.BusinessLogic.BLWorkers_Licencias, V4mvc.BusinessLogic" />

    </container>
  </unity>
</configuration>