<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
    <container>

      <register type="V4mvc.DataAccess.IDAAdmin, V4mvc.DataAccess" mapTo="V4mvc.DataAccess.DAAdmin, V4mvc.DataAccess" />

      <register type="V4mvc.DataAccess.IDARol, V4mvc.DataAccess" mapTo="V4mvc.DataAccess.DARol, V4mvc.DataAccess" />
      <register type="V4mvc.DataAccess.IDAOSTArbol, V4mvc.DataAccess" mapTo="V4mvc.DataAccess.DAOSTArbol, V4mvc.DataAccess" />
      <register type="V4mvc.DataAccess.IDADivisiones, V4mvc.DataAccess" mapTo="V4mvc.DataAccess.DADivisiones, V4mvc.DataAccess" />
      <register type="V4mvc.DataAccess.IDAWorkers, V4mvc.DataAccess" mapTo="V4mvc.DataAccess.DAWorkers, V4mvc.DataAccess" />
      <register type="V4mvc.DataAccess.IDAOST, V4mvc.DataAccess" mapTo="V4mvc.DataAccess.DAOST, V4mvc.DataAccess" />
      <register type="V4mvc.DataAccess.IDALocal, V4mvc.DataAccess" mapTo="V4mvc.DataAccess.DALocal, V4mvc.DataAccess" />
      <register type="V4mvc.DataAccess.IDAEnterprise, V4mvc.DataAccess" mapTo="V4mvc.DataAccess.DAEnterprise, V4mvc.DataAccess" />
      <register type="V4mvc.DataAccess.IDAColab_Usuario, V4mvc.DataAccess" mapTo="V4mvc.DataAccess.DAColab_Usuario, V4mvc.DataAccess" />
      <register type="V4mvc.DataAccess.IDATurnos, V4mvc.DataAccess" mapTo="V4mvc.DataAccess.DATurnos, V4mvc.DataAccess" />
      <register type="V4mvc.DataAccess.IDATab_TipoPase_Division, V4mvc.DataAccess" mapTo="V4mvc.DataAccess.DATab_TipoPase_Division, V4mvc.DataAccess" />
      <register type="V4mvc.DataAccess.IDATab_TipoPase, V4mvc.DataAccess" mapTo="V4mvc.DataAccess.DATab_TipoPase, V4mvc.DataAccess" />
      <register type="V4mvc.DataAccess.IDARoles, V4mvc.DataAccess" mapTo="V4mvc.DataAccess.DARoles, V4mvc.DataAccess" />

      <register type="V4mvc.DataAccess.IDADocs_Workers_Mutual, V4mvc.DataAccess" mapTo="V4mvc.DataAccess.DADocs_Workers_Mutual, V4mvc.DataAccess" />
      <register type="V4mvc.DataAccess.IDADocs_Workers_Data, V4mvc.DataAccess" mapTo="V4mvc.DataAccess.DADocs_Workers_Data, V4mvc.DataAccess" />
      <register type="V4mvc.DataAccess.IDAWorkers_MotivoFiniquito, V4mvc.DataAccess" mapTo="V4mvc.DataAccess.DAWorkers_MotivoFiniquito, V4mvc.DataAccess" />
      <register type="V4mvc.DataAccess.IDAWorkers_Licencias, V4mvc.DataAccess" mapTo="V4mvc.DataAccess.DAWorkers_Licencias, V4mvc.DataAccess" />

    </container>
  </unity>
</configuration>

