<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="MAIN_CONNECTION_STRING" connectionString="server=WCCUSAMANT01.webcontrolcorp.com\WEBCONTROLCORP; Database=AngloamericanPRD; User Id=mantencion; Password=M4nt3nc10n;multipleactiveresultsets=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="SQL_EXEC_REF_EXCLUDED_FUNCTIONS" value="sp_executesql" />
		<add key="SQL_REGEX_PRIMARY_SP_CAPTURE" value="[\s\r\n\t;]+EXEC(?:UTE)?\s+(?:@[^=]+=)?\s*([^('\s\r\n\t;]+)" />
		<add key="SQL_REGEX_SECONDARY_SP_CAPTURE" value="\[?dbo\]?\.\[?([^\]\s\r\n\t;]+)\]?" />
		<add key="SQL_REGEX_CREATE_TYPE_CAPTURE" value="\s*CREATE\s+(PROCEDURE|FUNCTION|VIEW)\s+" />
		<add key="SQL_QUERY_MASK_GET_SP_CONTENT" value="DECLARE @Lines TABLE (Line NVARCHAR(MAX));DECLARE @FullText NVARCHAR(MAX) = '';INSERT @Lines EXEC sp_helptext '[dbo].[{0}]';SELECT @FullText = @FullText + Line FROM @Lines ;SELECT @FullText ;" />
		<add key="SQL_QUERY_MASK_DROP_IF_EXISTS" value="IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID( N'[dbo].[{0}]' ) AND type IN ( N'P', N'FN' ))\nDROP {1} [dbo].[{0}]\nGO\n{2}"/>
	</appSettings>
</configuration>