<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="MAIN_CONNECTION_STRING" connectionString="server=WCCUSAMANT01.webcontrolcorp.com,51433\WEBCONTROLCORP; Database=CandelariaV3; User Id=mantencion; Password=M4nt3nc10n;multipleactiveresultsets=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<!-- SpSaveCommand Begin -->
		<add key="SQL_EXEC_REF_EXCLUDED_FUNCTIONS" value="sp_executesql" />
		<add key="SQL_REGEX_PRIMARY_SP_CAPTURE" value="[\s\r\n\t;]+EXEC(?:UTE)?\s+(?:@[^=]+=)?\s*([^('\s\r\n\t;]+)" />
		<add key="SQL_REGEX_SECONDARY_SP_CAPTURE" value="\[?dbo\]?\.\[?([^\]\s\r\n\t;]+)\]?" />
		<add key="SQL_REGEX_CREATE_TYPE_CAPTURE" value="\s*CREATE\s+(PROCEDURE|FUNCTION|VIEW)\s+([^\s\r\n\t]+)" />
		<add key="SQL_QUERY_MASK_GET_SP_CONTENT" value="DECLARE @Lines TABLE (Line NVARCHAR(MAX));DECLARE @FullText NVARCHAR(MAX) = '';INSERT @Lines EXEC sp_helptext '[dbo].[{0}]';SELECT @FullText = @FullText + Line FROM @Lines ;SELECT @FullText ;" />
		<add key="SQL_QUERY_MASK_GET_FILTERED_SP_LIST" value="SELECT name FROM sys.objects WHERE type = 'P' AND modify_date BETWEEN '{0}' AND '{1}'"/>		
		<add key="SQL_QUERY_MASK_DROP_IF_EXISTS"
			value="
IF EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID( N'[dbo].[{0}]' ) AND type IN ( N'P', N'FN' ))
	DROP {1} [dbo].[{0}]
GO

{2}

GO
"/>
		<!-- SpSaveCommand End -->
		<!-- TiersGenerateCommand Begin -->
		<add key="SQL_QUERY_MASK_EXISTS_TABLE"
			 value="IF(EXISTS(SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'dbo' AND  TABLE_NAME = '{0}' AND TABLE_TYPE LIKE '%TABLE%'))
						BEGIN
							SELECT 1
						END
					ELSE IF(EXISTS(SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'dbo' AND  TABLE_NAME = '{1}' AND TABLE_TYPE LIKE '%VIEW%'))
						BEGIN
							SELECT 2
						END
					ELSE
						BEGIN
							SELECT 0
						END" />
		<add key="SQL_QUERY_MASK_GET_TABLE_COLS"
			 value="SELECT
						c.name AS F_COLNAME,
						t.Name AS F_DATATYPE,
						c.max_length AS F_M_LEN,
						c.precision AS F_PRECISION,
						c.scale AS F_SCALE,
						c.is_nullable AS F_IS_NULLABLE,
						ISNULL(i.is_primary_key, 0) AS F_IS_PK,
						c.is_identity AS F_IS_IDENTITY
					FROM    
						sys.columns c
					INNER JOIN 
						sys.types t ON c.user_type_id = t.user_type_id
					LEFT OUTER JOIN 
						sys.index_columns ic ON ic.object_id = c.object_id AND ic.column_id = c.column_id
					LEFT OUTER JOIN 
						sys.indexes i ON ic.object_id = i.object_id AND ic.index_id = i.index_id
					WHERE
						c.object_id = OBJECT_ID('dbo.{0}')"/>
		
		<add key="SQL_DATATYPE_MAPPING_NVARCHAR" value="string"/>
		<add key="SQL_DATATYPE_MAPPING_INT" value="Int32"/>
		<add key="SQL_DATATYPE_MAPPING_SMALLINT" value="Int16"/>
		<add key="SQL_DATATYPE_MAPPING_UNIQUEIDENTIFIER" value="Guid"/>
		<add key="SQL_DATATYPE_MAPPING_CHAR" value="string"/>
		<add key="SQL_DATATYPE_MAPPING_BIGINT" value="Int64"/>
		<add key="SQL_DATATYPE_MAPPING_VARCHAR" value="string"/>
		<add key="SQL_DATATYPE_MAPPING_DATETIME" value="DateTime"/>
		<add key="SQL_DATATYPE_MAPPING_NCHAR" value="string"/>
		<add key="SQL_DATATYPE_MAPPING_NUMERIC" value="decimal"/>
		<add key="SQL_DATATYPE_MAPPING_IMAGE" value="byte[]"/>
		<add key="SQL_DATATYPE_MAPPING_FLOAT" value="double"/>
		<add key="SQL_DATATYPE_MAPPING_BIT" value="bool"/>
		<add key="SQL_DATATYPE_MAPPING_SMALLDATETIME" value="DateTime"/>
		<add key="SQL_DATATYPE_MAPPING_TEXT" value="string"/>
		<add key="SQL_DATATYPE_MAPPING_SMALLMONEY" value="decimal"/>
		<add key="SQL_DATATYPE_MAPPING_REAL" value="Single"/>
		<add key="SQL_DATATYPE_MAPPING_DECIMAL" value="decimal"/>
		<add key="SQL_DATATYPE_MAPPING_DATE" value="DateTime"/>

		<add key="SQL_DATATYPE_PRECISION_TYPE_NVARCHAR" value="1"/>
		<add key="SQL_DATATYPE_PRECISION_TYPE_INT" value="0"/>
		<add key="SQL_DATATYPE_PRECISION_TYPE_SMALLINT" value="0"/>
		<add key="SQL_DATATYPE_PRECISION_TYPE_UNIQUEIDENTIFIER" value="0"/>
		<add key="SQL_DATATYPE_PRECISION_TYPE_CHAR" value="1"/>
		<add key="SQL_DATATYPE_PRECISION_TYPE_BIGINT" value="0"/>
		<add key="SQL_DATATYPE_PRECISION_TYPE_VARCHAR" value="1"/>
		<add key="SQL_DATATYPE_PRECISION_TYPE_DATETIME" value="0"/>
		<add key="SQL_DATATYPE_PRECISION_TYPE_NCHAR" value="0"/>
		<add key="SQL_DATATYPE_PRECISION_TYPE_NUMERIC" value="2"/>
		<add key="SQL_DATATYPE_PRECISION_TYPE_IMAGE" value="0"/>
		<add key="SQL_DATATYPE_PRECISION_TYPE_FLOAT" value="1"/>
		<add key="SQL_DATATYPE_PRECISION_TYPE_BIT" value="0"/>
		<add key="SQL_DATATYPE_PRECISION_TYPE_SMALLDATETIME" value="0"/>
		<add key="SQL_DATATYPE_PRECISION_TYPE_TEXT" value="0"/>
		<add key="SQL_DATATYPE_PRECISION_TYPE_SMALLMONEY" value="0"/>
		<add key="SQL_DATATYPE_PRECISION_TYPE_REAL" value="0"/>
		<add key="SQL_DATATYPE_PRECISION_TYPE_DECIMAL" value="2"/>
		<add key="SQL_DATATYPE_PRECISION_TYPE_DATE" value="0"/>
		
		<!-- TiersGenerateCommand End -->
</appSettings>
</configuration>