@{
    ViewBag.Title = "ActualizarContacto";
}


<div class="row" id="powerwidgets">
    <div class="col-md-12 bootstrap-grid">

        <div class="text-center">
            <div class="col-md-12">
                <div class="callout callout-danger">
                    <p>
                        Estimado Usuario, Mantener su Informacíon de contacto actualizada es importante. Por favor actualice sus datos antes de continuar. ¡ GRACIAS !
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="col-md-12 bootstrap-grid">
    <div class="powerwidget">
        <div class="inner-spacer">
            <div class="callout callout-info">
                Los campos marcados con * son obligatorios
            </div>
            <form class="form-horizontal" method="post">
                <fieldset>

                    <div class="form-group">
                        <p class="col-md-2"><strong>* TELEFONO</strong></p>
                        <div class="col-md-4">
                            <input id="txtRUC" name="RUC" class="form-control" />
                        </div>
                        <p class="col-md-2"><strong>* CELULAR</strong></p>
                        <div class="col-md-4">
                            <input id="txtNombre" name="NOMBRE" class="form-control" />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

